/*
---------------------------
WapBlog.ID - Panel Project
https://www.wapblog.id
---------------------------
*/

html{
  --wb-primary-color: #de1339;
  --wb-secondary-color: #c01031;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--wb-primary-color);
  text-decoration: none;
  cursor: pointer;
}
.container {
  max-width: 983px;
  margin: 0 auto;
  padding: 0 15px;
}
.hdd {
  display: none;
}
img {
  max-width: 100%;
}
body {
  font-size: 16px;
  color: #666;
  background: #eee;
  font-family: "Fira Sans", sans-serif, sans;
  font-weight: 300;
}
ul, ol {
  list-style: none;
}
header nav {
  background: var(--wb-primary-color);
  padding: 5px 0;
  box-shadow: 0 2px 2px #0003;
}
header .header-bars {
  background: var(--wb-secondary-color);
}
header .header-bars ul {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
header .header-bars ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  background: #0003;
  text-align: center;
}
header .header-bars ul li {
  margin-left: 10px;
}
header .header-bars ul li:first-child {
  margin-left: 0;
}
header nav a {
  display: block;
  color: #fff;
  line-height: 50px;
}
nav .container {
  display: flex;
  align-items: center;
}
nav .navbar-brand a {
  font-size: 18px;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
nav .navbar-menu {
  flex: 1;
}
nav .navbar-menu ul {
  display: flex;
  justify-content: flex-end;
}
nav .navbar-menu ul li {
  margin-left: 10px;
}
nav .navbar-menu ul li:first-child {
  margin-left: 0;
}
nav .navbar-menu ul li a {
  display: block;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  padding: 0 5px;
}
nav .navbar-menu ul li a:after {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 2px;
  background: #fff;
  content: "";
  transition: all .4s;
  line-height: 0;
}
nav .navbar-menu ul li a:hover:after {
  left: 0;
  right: 0;
}
header .main-header {
  text-align: center;
  padding: 4em 0 3em;
  background: #0001;
}
header .main-header h1 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
header .main-header h2 {
  font-size: 18px;
  font-weight: 400;
}
section#content aside.content {
  padding: 2em 0 1em;
}
section#content aside.content:nth-child(odd) {
  background: #fff;
}
section#content aside.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
footer {
  background: #1e1d23;
  color: #fff;
}
footer .footer-copy {
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
}
footer .footer-copy a {
  color: #fff;
  text-decoration: underline;
}
.content-main ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}
.content-main ul li {
  width: calc(50% - 20px);
  margin: 0 10px 20px;
  box-shadow: 2px 2px 2px #0003;
}
.content-main ul li img {
  cursor: pointer;
  display: block;
  opacity: 0;
}
.content-main ul li .project-part-name {
  line-height: 35px;
  padding: 0 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.content-main ul li .project-part-image {
  margin-bottom: 5px;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
aside.content:nth-child(even) .content-main ul li {
  background: #fff;
  border: 1px solid #d4d4d4
}
aside.content:nth-child(odd) .content-main ul li {
  background: #f7f7f7;
}
aside.content#todo .content-main ul li {
  padding: 0 10px;
  width: calc(33.333% - 20px);
}
.content-main .project-part-name .progress-project {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-project .progress-bar {
  position: relative;
  width: 100px;
  display: block;
  background: #eee;
  height: 10px;
  margin-right: 5px;
}
.progress-project .progress-bar .progress-bar-width {
  display: block;
  height: 10px;
  background: #097;
}
.color-header {
  padding: 7em 0 6em;
  position: relative;
  text-align: center;
  color: #fff;
}
.color-header .container {
  display: flex;
}
.color-header .color-left {
  width: 50%;
  padding-right: 10px;
}
.color-header .color-right {
  padding-left: 0;
  width: 50%;
}
.color-header:after,
.color-header:before {
  width: calc(50% - 5px);
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.color-header:before {
  left: 0;
  background: #c00b0b;
  border-right: 5px solid #0001;
}
.color-header:after {
  right: 0;
  background: #c01031;
  border-left: 5px solid #0001;
}
.color-header p {
  margin-bottom: 10px;
}
.color-header .color-swatches {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  box-shadow: inset 0 0 2px 2px #0003
}
.color-header .color-left .color-swatches {
  background: #dd0d2d;
}
.color-header .color-right .color-swatches {
  background: #de1339;
}
section#sidebar aside {
  padding: 2em 0 1em;
}
section#sidebar aside h4 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
section#sidebar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 0;
}
section#sidebar ul li {
  width: calc(25% - 10px);
  margin: 0 5px 10px;
  line-height: 35px;
  padding: 10px;
  background: #0001;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}
section#sidebar ul li:hover {
  background: #0002;
}
section#sidebar ul li i {
  font-size: 30px;
  margin-right: 10px;
  text-align: right;
  width: 35px;
  display: block;
  line-height: 35px;
  border-radius: 5px;
  color: #ef0030;
  text-align: center;
}
